
.header {
    --background: linear-gradient(to bottom, #190055, #6a0dad);
    text-align: center;
    color: white;
    }
ion-content {
    --background: linear-gradient(to bottom, #190055, #6a0dad);
    }

.config-container {
    background: white;
  }

ion-button {
    margin-top: 10px;
  }

  //botão de voltar
  .transparent-button {
    --background: transparent;  
    --border-radius: 10px;      
    --color: white;             
    --box-shadow: none;         
  }
  .transparent-button:hover {
    --background: rgba(255, 255, 255, 0.1);  
  }

  /* Modo Claro */
  :root {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
  }

  /* Modo Escuro */
  .dark-theme {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
  }
  
  //alteração de tipo de fonte
  .font-default {
    font-family: 'Arial', sans-serif;
  }
  
  .font-alternativa {
    font-family: 'Courier New', Courier, monospace;
  }
  
  .font-customizada {
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }

  //alteração de tamanho da fonte
  .font-small {
    font-size: 12px;
  }
  
  .font-medium {
    font-size: 16px;
  }
  
  .font-large {
    font-size: 20px;
  }
  
  .font-xlarge {
    font-size: 24px;
  }
  
  //alterar contraste da fonte
  .contrast-high {
    color: #FFFFFF; /* Cor da fonte branca */
    background-color: #000000; /* Fundo preto */
  }
  
  .contrast-medium {
    color: #000000; /* Cor da fonte preta */
    background-color: #FFD700; /* Fundo amarelo */
  }
  
  .contrast-low {
    color: #808080; /* Cor da fonte cinza */
    background-color: #F0F0F0; /* Fundo cinza claro */
  }


  